.map {
	width: 800px;
	height: 600px;
}
.fullMap {
	width: 100%;
	height: 100%;
}
#mapType_div {
	margin : 10px 0px 20px;
}
#currentMapInfo_div {
	margin-top : 15px;
}
#mapBtnList {
	position:absolute;
	z-index: 9999;
}
#div_zoomSlider{
	z-index: 9999;
}
#infoDiv {
	display:none;
	position:absolute;
	z-index:10000;
	overflow: auto;
	width:300px;
	height:300px;
}
iframe{
	width:100%;
	overflow: auto;
}

.ol-mouse-position {
	right: 3em;
	color: #fff;
	background-color: rgba(0,60,136,.5);
	padding: 2px 10px;
	border-radius: 5px;
}
.ol-scale-line {
	left: 40px;
}
.ol-rotate {
	top: 3em;
}

/* BootStrap과 OpenLayers3의 css 충돌도 벗어나고 스타일도 깔끔하게 해주는 Style */
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}
table{
  border: 0px solid black;
  border-spacing: 0px;
}

table thead tr{
  font-family: Arial, monospace;
  font-size: 14px;
}

table thead tr th{
  border-bottom: 2px solid black;
  border-top: 1px solid black;
  margin: 0px;
  padding: 2px;
  background-color: #cccccc;
}

table tr {
  font-family: arial, monospace;
  color: black;
  font-size:12px;
  background-color: white;
}

table tr.odd {
  background-color: #AAAAAA;
}

table tr td, th{
  border-bottom: 1px solid black;
  padding: 2px;
}

a:link{
  font-family:arial, monospace;
  text-decoration: none;
  color: teal;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color:black;
  text-decoration: none;
}

.ol-zoom{
	top: 5.4em;
	left : .6em;
}
.ol-zoomslider-thumb{
	margin : 3px;
}
.ol-zoomslider{
	left : .6em;
}
#div_map .ol-zoom .ol-zoom-out {
  margin-top: 204px;
}
#div_map .ol-zoomslider {
  background-color: transparent;
  top: 7.3em;
}

#div_map .ol-touch .ol-zoom .ol-zoom-out {
  margin-top: 212px;
}
#div_map .ol-touch .ol-zoomslider {
  top: 7.75em;
}

#div_map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#div_map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
  top: 3px;
}

#div_map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#div_map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
  top: 232px;
}


.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  padding-top: 20px;
  /* border-radius: 10px; */
  border: 1px solid #cccccc;
  bottom: 0px;
  width: 200px;
}
/* .ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
} */
/* .ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
 */
