<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"/> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->
<meta name="_csrf_parameter" content="_csrf" />
<meta name="_csrf_header" content="X-CSRF-TOKEN" />
<meta name="_csrf" content="e62835df-f1a0-49ea-bce7-bf96f998119c" />

<link rel="stylesheet" th:href="@{/lib/ol/css/ol.css}" href="../../static/lib/ol/css/ol.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" th:href="@{/css/map.css}" href="../../static/css/map.css" />
<title>UIS CLOUD</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-top">
	    <div class="container">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">UISCLOUD</a>
		    </div>
		    <div id="navbar" class="collapse navbar-collapse">
			    <ul class="nav navbar-nav">
			    	<!-- <li class="active"><a href="#">1.배경지도 변경</a></li> -->
				    <!-- <li class="active"><a href="#">1. 배경지도 변경</a></li>
				    <li><a href="#">2. 기본조작 기능</a></li>
				    <li><a href="#">3. 도형 생성</a></li>
				    <li><a href="#">4. 도형 편집</a></li>
				    <li><a href="#">5. 도형 저장</a></li>
				    <li><a href="#">6. GetFeatureInfo</a></li>
				    <li><a href="#">7. WFS_GetFeature</a></li> -->
			    </ul>
		    </div><!--/.nav-collapse -->
	    </div>
    </nav>
    
	<div class="container theme-showcase">
		<div id="mapType_div" class="page-header">
			<button type="button" class="btn btn-primary" id="selVWorldMapBtn" title="VWorldMap">VWorld Map</button>
			<button type="button" class="btn btn-primary" id="selDaumMapBtn" title="DaumMap">Daum Map</button>
			<!-- <button type="button" class="btn btn-primary" id="selNaverMapBtn" title="NaverMap">Naver Map</button> -->
			
			<br/><br/>
			<label for="select_editTargetLayer">편집 대상 레이어 : </label>
			<select id="select_editTargetLayer" class="form-control">
				<option value="tttgotc_ca" selected="selected">광케이블</option>
				<option value="tttgotc_cd">관로</option>
				<option value="tttgotc_tpo">국소</option>
				<option value="tttgotc_jp">함체</option>
				<option value="tttgotc_ep">전주</option>
				<option value="tttpolygon">택지</option>
				 
			</select>
			<select id="select_type" class="form-control" style="display:none;">
				<option value="Street" selected="selected">Street</option>
				<option value="Satellite">Satellite</option>
				<option value="Hybrid">Hybrid</option>
			</select>
			<div id="currentMapInfo_div" style="display:none;">
				<div id="zoom_div"></div>
				<div id="mousePosition_div"></div>
				<div id="viewPosition_div"></div>
			</div>
			<div id="switchLayer" >
				<input class="chkLayer" type="checkbox" value="tttgotc_ca" checked="checked"/>
				<label>광케이블</label>&nbsp;&nbsp;&nbsp;
				<input class="chkLayer" type="checkbox" value="tttgotc_cd" checked="checked"/>
				<label>관로</label>&nbsp;&nbsp;&nbsp;
				<input class="chkLayer" type="checkbox" value="tttgotc_tpo" checked="checked"/>
				<label>국소</label>&nbsp;&nbsp;&nbsp;
				<input class="chkLayer" type="checkbox" value="tttgotc_jp" checked="checked"/>
				<label>함체</label>&nbsp;&nbsp;&nbsp;
				<input class="chkLayer" type="checkbox" value="tttgotc_ep" checked="checked"/>
				<label>전주</label>
			</div>
		</div>
	</div> 
	
	<div id="div_map" class="container">
		<div id="mapBtnList">
			<a id="moveBtn" href="#">
				<img th:src="@{/images/menu/btn_pan_a.png}" src="../../static/images/menu/btn_pan_a.png" class="toggle" alt="이동" title="이동" />
			</a>
			<a id="zoomInBtn" href="#">
				<img th:src="@{/images/menu/btn_zoom_in_n.png}" src="../../static/images/menu/btn_zoom_in_n.png" alt="확대" title="확대" />
			</a>
			<a id="zoomOutBtn" href="#">
				<img th:src="@{/images/menu/btn_zoom_out_n.png}" src="../../static/images/menu/btn_zoom_out_n.png" alt="축소" title="축소" />
			</a>
			<a id="prevBtn" href="#">
				<img th:src="@{/images/menu/btn_prev_n.png}" src="../../static/images/menu/btn_prev_n.png" alt="이전" title="이전" />
			</a>
			<a id="nextBtn" href="#">
				<img th:src="@{/images/menu/btn_next_n.png}" src="../../static/images/menu/btn_next_n.png" alt="다음" title="다음" />
			</a>
			<a id="fullExtentBtn" href="#">
				<img th:src="@{/images/menu/btn_full_map_n.png}" src="../../static/images/menu/btn_full_map_n.png" alt="전체화면" title="전체화면" />
			</a>
			<a id="initBtn" href="#">
				<img th:src="@{/images/menu/btn_refresh_n.png}" src="../../static/images/menu/btn_refresh_n.png" alt="초기화" title="초기화" />
			</a>
			<a id="lineMeasureBtn" href="#">
				<img th:src="@{/images/menu/btn_dist_n.png}" src="../../static/images/menu/btn_dist_n.png" class="toggle" alt="거리측정" title="거리측정" />
			</a>
			<a id="polygonMeasureBtn" href="#">
				<img th:src="@{/images/menu/btn_area_n.png}" src="../../static/images/menu/btn_area_n.png" class="toggle" alt="면적측정" title="면적측정" />
			</a>
			
			<button type="button" class="btn btn-default" id="drawFeatureBtn" title="도형그리기">도형추가</button>
			<!-- <button type="button" class="btn btn-default" id="drawCircleFeatureBtn" title="원그리기">원</button> -->
			<button type="button" class="btn btn-primary" id="selectFeatureBtn" title="도형선택">도형선택</button>
			<button type="button" class="btn btn-primary" id="editFeatureBtn" title="도형편집">편집</button>
			<!-- <button type="button" class="btn btn-default" id="moveFeatureBtn" title="도형이동">이동</button> -->
			<!-- <button type="button" class="btn btn-default" id="delFeatureBtn" title="도형삭제">백터도형삭제</button> -->
			<button type="button" class="btn btn-default" id="saveFeatureBtn" title="도형저장(추가,수정)">저장</button>
			<button type="button" class="btn btn-default" id="deleteFeatureBtn" title="도형삭제">삭제</button>
			<button type="button" class="btn btn-primary" id="getFeatureInfoBtn" title="ImageWMS_GetFeatureInfo">속성조회</button>
			<button type="button" class="btn btn-primary" id="getFeatureBtn" title="WFS_GetFeature">편집시작</button>
		</div>
		<div id="div_zoomSlider"></div>
	</div>
	
	<!-- popup Div -->
	<div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content" style="width:150px;"></div>
    </div>
    
	<div id="infoDiv" class="container">
		<table>
			<thead></thead>
			<tbody></tbody>
		</table>
		<button onclick="hideInfo();">닫기</button>
	</div>
	
	<script src="/webjars/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/openlayers/3.5.0/ol-debug.js" type="text/javascript"></script>
	<script src="/webjars/proj4js/2.2.1/proj4.js" type="text/javascript"></script>
	<!-- <script th:src="@{/lib/jquery/jquery-2.1.3.min.js}" src="../../static/lib/jquery/jquery-2.1.3.min.js" type="text/javascript"></script> -->
	<!-- <script th:src="@{/lib/ol/build/ol-debug.js}" src="../../static/lib/ol/build/ol-debug.js" type="text/javascript"></script> -->
	<!-- <script th:src="@{/lib/proj4js/proj4.js}" src="../../static/lib/proj4js/proj4.js" type="text/javascript"></script> -->

	<!-- OpenLayers3 Custom Javascript List -->
	<script th:src="@{/lib/olCustom/ol/ol/interaction/selectinteraction.js}" src="../../static/lib/olCustom/ol/ol/interaction/selectinteraction.js" type="text/javascript"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
	<!-- VWorld, Naver, Daum 지도 관련 Javascript List -->
	<script th:src="@{/lib/olCustom/ol/ol/tilegrid/vworldtilegrid.js}" src="../../static/lib/olCustom/ol/ol/tilegrid/vworldtilegrid.js" type="text/javascript"></script>
	<script th:src="@{/lib/olCustom/ol/ol/source/vworldmapssource.js}" src="../../static/lib/olCustom/ol/ol/source/vworldmapssource.js" type="text/javascript"></script>
	<script th:src="@{/lib/olCustom/ol/ol/tilegrid/navertilegrid.js}" src="../../static/lib/olCustom/ol/ol/tilegrid/navertilegrid.js" type="text/javascript"></script>
	<script th:src="@{/lib/olCustom/ol/ol/source/navermapssource.js}" src="../../static/lib/olCustom/ol/ol/source/navermapssource.js" type="text/javascript"></script>
	<script th:src="@{/lib/olCustom/ol/ol/tilegrid/daumtilegrid.js}" src="../../static/lib/olCustom/ol/ol/tilegrid/daumtilegrid.js" type="text/javascript"></script>
	<script th:src="@{/lib/olCustom/ol/ol/source/daummapssource.js}" src="../../static/lib/olCustom/ol/ol/source/daummapssource.js" type="text/javascript"></script>
	<script th:src="@{/lib/olCustom/ol/ol/control/measure.js}" src="../../static/lib/olCustom/ol/ol/control/measure.js" type="text/javascript"></script>
	<script th:src="@{/lib/olCustom/ol/ol/control/drag.js}" src="../../static/lib/olCustom/ol/ol/control/drag.js" type="text/javascript"></script>
	
	<script th:src="@{/js/properties.js}" src="../../static/js/properties.js" type="text/javascript"></script>
	<script th:src="@{/js/sample/prototype.js}" src="../../static/js/sample/prototype.js" type="text/javascript"></script>

</body>
</html>